.ms-bg-gray{
    background-color: #2C3E50;
}

.ms-bg-lightgrey{
    background-color: #3A546D;
}

.ms-avatar{
    max-height: 250px;
}

.ms-padding-btm{
    padding-bottom: 60px;
}

.ms-padding-top{
    padding-top: 50px;
}

.ms-bg-green{
    background-color: #1ABC9C;
}

.ms-link{
    text-decoration: none;
    color: white;
}

.ms-img{
    width: 100%;
    border-radius: 10px;
}

.ms-h2{
    color: #333333;
}