.ms-bg-gray{
    background-color: #2C3E50;
}

.ms-bg-lightgrey{
    background-color: #3A546D;
}

.ms-avatar{
    max-height: 250px;
}

.ms-padding-btm{
    padding-bottom: 60px;
}

.ms-padding-top{
    padding-top: 50px;
}

.ms-bg-green{
    background-color: #1ABC9C;
}

.ms-link{
    text-decoration: none;
    color: white;
}

.ms-img{
    width: 100%;
    border-radius: 10px;
}

.ms-h2{
    color: #333333;
}

.ms-line{
    background-color: #2C3E50;
    height: 3px;
    width: 14%;
    margin-top: 30px;
}

.fa-star{
    font-size: 28px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 30px;
}

.ms-btn{
    border-radius: 6px;
    padding: 10px;
    color: white;
}

.ms-btn-green{
    background-color: #1ABC9C;
    border: 1px solid white;
}

.ms-form{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

input:focus{
    border: none;
}

.ms-hover-green:hover{
    color: #1ABC9C !important;
}